
# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_LOGO is not set

# CONFIG_SOUND is not set
# CONFIG_SND is not set

# CONFIG_NFS_FS is not set
# CONFIG_ROOT_NFS is not set

# CONFIG_USB_GADGET is not set
