
# CONFIG_ENV_IS_IN_FAT is not set

CONFIG_ENV_IS_IN_MMC=y

CONFIG_ENV_MMC_DEVICE_INDEX=0

CONFIG_ENV_OFFSET=0x400000
CONFIG_ENV_SIZE=0x8000

CONFIG_ENV_REDUNDANT=y
CONFIG_ENV_OFFSET_REDUND=0x408000

CONFIG_SYS_BOOTM_LEN=0x1000000
